.winer {
  .pointDiv {
    width: 35%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    p {
      margin: 10px auto;
      width: max-content;
      font-size: 70px;
      font-weight: 400;
      color: rgb(253, 93, 0);
      font-family: "Fredoka One", cursive;
    }
    img {
      width: 100px;
    }
  }
  .scoreDiv {
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 200px;
    }
    h3 {
      font-size: 40px;
    }

    .score1 {
      font-size: 45px;
      position: absolute;
      top: 36px;
      left: 40px;
    }
    .score2 {
      font-size: 45px;
      position: absolute;
      top: 36px;
      right: 40px;
    }
  }
  .scoresDiv {
    position: relative;
  }
  .winnerContent {
    text-align: center;
    font-size: 50px;
    margin: 30px auto 295px;
    color: #129b12;
  }
}
